/*
Colors used:
Primary Color (White): #ffffff;
Primary Color (Black): #000000;
Primary Color (Wine Red): #9a031e
Secondary Color (Blue): #2733b8;
Secondary Color (Cream): #fffdd0;
*/

  body {
    background-color: #ffffff;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #9a031e;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 800;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a {
    color: #000000;
    text-decoration: underline; /* Underlining */
  }
  a:visited { /* visited link */
    color: #9a031e
  }
  a:hover,
  a:focus {
    color: #2733b8;
    text-decoration: none;
  }
  a:active { /* selected link */
    color: #fffdd0;
  }

.btn {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #2733b8;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 300;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #9a031e; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.btn:visited { /* visited link */
  color: #ffffff
}

.btn:hover,
.btn:focus {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.btn:active { /* selected link */
  color: #9a031e;
}

.btn.contact,
.btn.cv {
  background-color: #9a031e;
}

.btn.contact:active,
.btn.cv:active { /* selected link */
  color: #2733b8;
}

header {
  background-color: #fffdd0;
  padding: 10px 5px;
  margin: 10px;
  border-bottom: 3px solid #2733b8;
}
