/*
Colors used:
Primary Color (White): #ffffff;
Primary Color (Black): #000000;
Primary Color (Wine Red): #9a031e
Secondary Color (Blue): #2733b8;
Secondary Color (Cream): #fffdd0;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #9a031e; 
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 800;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #000000;
}
a:visited { /* visited link */
  color: #000000;
}
a:hover,
a:focus {
  color: #2733b8;
  text-decoration: none;
}
a:active { /* selected link */
  color: #fffdd0;
}

.btn {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #2733b8;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 300;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #9a031e; /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
}

.btn:visited { /* visited link */
  color: #ffffff;
}

.btn:hover,
.btn:focus {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.btn:active { /* selected link */
  color: #9a031e;
}

.btn.contact,
.btn.cv {
  background-color: #9a031e;
}

.btn.contact:active,
.btn.cv:active { /* selected link */
  color: #2733b8;
}

/* Layout styling */

.container {
  padding-inline: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.project-card {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.15);
  border-radius: 1em;
  overflow: hidden;
}

.project-card_content-wrapper {
  padding: 0 1em 2em;
}

#hero h1 {
  text-align: center; /* Centers text */
}

.logo {
  max-width: 150px;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border: solid #2733B8 0; 
  box-shadow: 9px 0 15px rgba(39, 51, 184, 0.5)  ; 
  -webkit-box-shadow: 9px 0 15px rgba(39, 51, 184, 0.5)  ; 
  -moz-box-shadow: 9px 0 15px rgba(39, 51, 184, 0.5)  ; 
  position: fixed;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
 
}

nav > ul > li > a:visited {
  color: #000000;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #2733b8;
}

nav > ul > li > a:active {
  color: #fffdd0;
}

#hero {
  background-color: #fffdd0;
  padding: 20px 0;
  text-align: center;
}

#hero span {
  font-size: 0.5em;
  display: block;
  padding-top: 20px;
  color: #2733b8;
}

#hero p {
  color:#000000;
}

#hero ol {
  list-style-type: inside;
  text-align: left;
  display: inline-block;
}

#work h2 {
  text-align: center;
}

#work p {
  color: #2733b8;
}

#profile {
  padding-bottom: 30px;
}

#profile p,
#profile ul {
  color:#2733b8
}

#contact {
  background-color: #2733B8;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.social a { 
  width: 32px; 
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

html {
  scroll-behavior: smooth;
}

main {
  padding-top: 71.99px;
}

main p,
main ul {
  color:#2733b8
}

#process {
  background-color: #9a031e;
  padding: 20px 0;
  text-align: center;
  list-style-position: inside;
  color: #ffffff
}

.process-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#key-takeaway {
  padding-bottom: 30px;
}

#about-page h3 { 
  margin-top: 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-5 {
    width: 40%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 60%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 15px;
  }
  
  #about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
  }
}

/* ==============================
Animation
================================= */
@keyframes color-change {
  0% {fill: #f4ff27;}
  50% {fill: #bafa2e;}
  100% {fill: #1cd004;}
}

.cactus {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes wheel-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.small-wheel {
  animation-duration: 30s;
  animation-name: wheel-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes wheel-rotate {
  50% {transform: rotate(45deg);}
}

.large-wheel-left {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: wheel-rotate;
}